$color-white: #fff;
$color-black: #000000;

$color-base-white: #f6f6f6;
$color-base-pastel: #f5efd9;
$color-base-highlight: #cf6823;
$color-base-black: #272727;

$font-playfair: "Playfair Display", serif;
$font-ptsans: "PT Sans", sans-serif;

.blog {
  width: 90vw;
  display: grid;
  grid-auto-flow: row;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 2rem;

  .post {
    width: 100%;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    &__link {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: inherit;

      &--img {
        width: 100%;
      }

      &--tag {
        color: $color-base-highlight;
        font-size: 1.4em;
        line-height: 1.5rem;
      }

      &--title {
        font-family: $font-playfair;
        font-size: 1.8em;
        font-weight: bold;
        text-align: center;
      }
    }

    &:hover,
    &:active {
      .post__link--title {
        text-decoration: underline;
      }
    }
  }
}
