.header {
  display: flex;
  flex-direction: column;

  .alert__promo {
    background: $color-base-pastel;
    padding: 0.5rem 2rem;
    font-size: 1.2em;
    text-align: center;

    p {
      font-weight: bold;
      font-size: 1.4em;
      margin-bottom: 0.5rem;
    }

    &--link {
      color: inherit;
      transition: all 0.5s;
      padding: 0.7em;
      border-radius: 7px;
    }
  }

  .header-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;

    &__search {
      width: 50vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &--input {
        width: 7rem;
        padding: 0.7rem;
        border: {
          top: 0;
          left: 0;
          right: 0;
          bottom: 1px solid $color-base-highlight;
        }
        transition: all 0.5s;

        &:focus {
          width: 10rem;
        }
      }
    }

    &__login {
      width: 50vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      p {
        font-size: 1.4em;
        margin-right: 0.7rem;
        transition: all 0.2s;
        cursor: pointer;

        a {
          color: inherit;
          text-decoration: none;
        }

        &:hover,
        &:active {
          color: $color-base-highlight;
        }
      }
    }
  }

  .nav {
    position: absolute;
    top: 80px;
    right: 0;
    width: 70vw;
    z-index: 99;
    transform: translateX(100%);
    transition: all 0.4s ease-in;

    &__toggle {
      position: absolute;
      background-color: $color-base-pastel;
      padding: 1.3rem 1rem;
      top: 0;
      right: 70vw;
      border: 0;
      border-radius: 0.5rem 0 0 0.5rem;
      cursor: pointer;
      box-shadow: -5px 3px 7px rgba(0, 0, 0, 0.1);

      .hamburger {
        display: block;
        position: relative;
      }

      .hamburger,
      .hamburger::before,
      .hamburger::after {
        width: 1.5rem;
        height: 2px;
        background-color: $color-base-highlight;
        transition: all 0.2s linear;
      }

      .hamburger::before,
      .hamburger::after {
        content: "";
        position: absolute;
        right: 0;
      }

      .hamburger::before {
        bottom: 6px;
      }

      .hamburger::after {
        top: 6px;
      }
    }

    &__menu {
      width: 100%;
      background-color: $color-base-pastel;
      padding: 2rem;
      list-style: none;

      &--item {
        width: 80%;
        padding: 1rem;
        margin: 0 auto;
        transition: all 0.2s;
        text-align: center;

        &:hover,
        &:active {
          background-color: $color-base-highlight;
          color: white;
          font-weight: bold;
          transform: translateX(-10%);
        }
      }
    }
  }

  .open-nav {
    transform: translateX(0);
    box-shadow: -1px 7px 10px rgba(0, 0, 0, 0.2);

    .open-hamburger {
      background-color: $color-base-pastel;
    }

    .open-hamburger::before {
      transform: rotate(45deg) translateY(9px);
    }

    .open-hamburger::after {
      transform: rotate(-45deg) translateY(-9px);
    }
  }
}
