$color-white: #fff;
$color-black: #000000;

$color-base-white: #f6f6f6;
$color-base-pastel: #f5efd9;
$color-base-highlight: #cf6823;
$color-base-black: #272727;

$font-playfair: "Playfair Display", serif;
$font-ptsans: "PT Sans", sans-serif;

.highlights {
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card {
    width: 60%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
      width: 100%;
      height: 150px;
    }

    &__name {
      font-family: $font-playfair;
    }
    &__name,
    &__price {
      font-size: 1.5em;
      line-height: 1.5em;
      color: $color-base-highlight;
      font-weight: bold;
      text-align: center;
    }

    &__extra {
      font-size: 1.2em;
      line-height: 1.5em;
    }

    &__btn {
      margin-top: 0.5rem;
      width: 100%;
      padding: 0.5rem 1.2rem;
      border: 1px solid $color-base-highlight;
      border-radius: 0.7rem;
      color: $color-base-highlight;
      font-weight: bold;
      background-color: $color-white;
      cursor: pointer;

      transition: all 0.2s;

      &:hover,
      &:active {
        background-color: $color-base-highlight;
        color: $color-white;
      }
    }
  }
}
