$color-white: #fff;
$color-black: #000000;

$color-base-white: #f6f6f6;
$color-base-pastel: #f5efd9;
$color-base-highlight: #cf6823;
$color-base-black: #272727;

$font-playfair: "Playfair Display", serif;
$font-ptsans: "PT Sans", sans-serif;

.instagram {
  padding: 1rem 0;
  background-color: $color-base-white;
  border: {
    top: 1px solid $color-base-highlight;
    bottom: 1px solid $color-base-highlight;
  }

  &__title {
    text-align: center;
    margin-bottom: 1rem;
    font-family: $font-playfair;
    color: $color-base-highlight;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
}

#instafeed {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;

  article a figure img {
    width: 33.333vw;
    height: 33vw;
    object-fit: cover;
    transition: all 0.2s;

    &:hover,
    &:active {
      opacity: 0.7;
    }
  }
}
