$color-base-black: #272727;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  color: $color-base-black;
  font-size: 62.5%;
}
