$color-white: #fff;
$color-black: #000000;

$color-base-white: #f6f6f6;
$color-base-pastel: #f5efd9;
$color-base-highlight: #cf6823;
$color-base-black: #272727;

$font-playfair: "Playfair Display", serif;
$font-ptsans: "PT Sans", sans-serif;

.subscribe {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $color-base-pastel;
  font-size: 1.4em;
  line-height: 1.5em;

  &__message {
    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &--input,
    &--btn {
      padding: 0.2rem 0.4rem;
      border: 1px solid $color-base-highlight;
    }

    &--input {
      width: 50%;
    }

    &--btn {
      color: $color-base-white;
      background-color: $color-base-highlight;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
