.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $color-base-highlight;
}

.svg-icon circle {
  stroke: $color-base-highlight;
  stroke-width: 1;
}
