@media only screen and (min-width: 768px) {
  .header {
    .alert__promo {
      padding: {
        left: 7rem;
        right: 7rem;
      }
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      p {
        margin-bottom: 0;
      }

      &--link {
        font-size: 1.2em;

        &:first-of-type {
          margin-right: 0;
        }
      }
    }

    .header-boxes {
      &__search {
        &--input {
          width: 10rem;

          &:focus {
            width: 13rem;
          }
        }
      }
    }

    .nav {
      width: 50vw;
      top: 10vh;

      &__toggle {
        right: 50vw;
      }
    }
  }

  .highlights {
    width: 70vw;
    grid-auto-flow: column;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .blog {
    grid-auto-flow: column;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  #instafeed {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1px;

    article a figure img {
      width: 16.5vw;
      height: 16.5vw;
    }
  }

  .subscribe {
    flex-direction: row;

    &__message {
      width: 50%;
      margin-bottom: 0;
    }
    
    &__form {
      width: 50%;

      &--input {
        width: 50%;
      }

      &--btn {
        transition: all 0.2s;
      }

      &--btn:hover {
        opacity: 0.8;
      }
    }
  }
}
