@media only screen and (min-width: 480px) {
  .header {
    .alert__promo {
      &--link {
        &:link,
        &:visited {
          color: $color-base-highlight;
        }

        &:hover,
        &:active {
          background-color: $color-base-highlight;
          color: $color-white;
        }

        &:first-of-type {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .footer {
    .contactus {
      margin-bottom: 2rem;
    }
    .sitemap {
      width: 80%;
      grid-auto-flow: column;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.5rem;
    }
  }
}
