@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Playfair+Display:400,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "PT Sans", sans-serif;
  color: #272727;
  font-size: 62.5%; }

.header {
  display: flex;
  flex-direction: column; }
  .header .alert__promo {
    background: #f5efd9;
    padding: 0.5rem 2rem;
    font-size: 1.2em;
    text-align: center; }
    .header .alert__promo p {
      font-weight: bold;
      font-size: 1.4em;
      margin-bottom: 0.5rem; }
    .header .alert__promo--link {
      color: inherit;
      transition: all 0.5s;
      padding: 0.7em;
      border-radius: 7px; }
  .header .header-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem; }
    .header .header-boxes__search {
      width: 50vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .header .header-boxes__search--input {
        width: 7rem;
        padding: 0.7rem;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #cf6823;
        transition: all 0.5s; }
        .header .header-boxes__search--input:focus {
          width: 10rem; }
    .header .header-boxes__login {
      width: 50vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .header .header-boxes__login p {
        font-size: 1.4em;
        margin-right: 0.7rem;
        transition: all 0.2s;
        cursor: pointer; }
        .header .header-boxes__login p a {
          color: inherit;
          text-decoration: none; }
        .header .header-boxes__login p:hover, .header .header-boxes__login p:active {
          color: #cf6823; }
  .header .nav {
    position: absolute;
    top: 80px;
    right: 0;
    width: 70vw;
    z-index: 99;
    transform: translateX(100%);
    transition: all 0.4s ease-in; }
    .header .nav__toggle {
      position: absolute;
      background-color: #f5efd9;
      padding: 1.3rem 1rem;
      top: 0;
      right: 70vw;
      border: 0;
      border-radius: 0.5rem 0 0 0.5rem;
      cursor: pointer;
      box-shadow: -5px 3px 7px rgba(0, 0, 0, 0.1); }
      .header .nav__toggle .hamburger {
        display: block;
        position: relative; }
      .header .nav__toggle .hamburger,
      .header .nav__toggle .hamburger::before,
      .header .nav__toggle .hamburger::after {
        width: 1.5rem;
        height: 2px;
        background-color: #cf6823;
        transition: all 0.2s linear; }
      .header .nav__toggle .hamburger::before,
      .header .nav__toggle .hamburger::after {
        content: "";
        position: absolute;
        right: 0; }
      .header .nav__toggle .hamburger::before {
        bottom: 6px; }
      .header .nav__toggle .hamburger::after {
        top: 6px; }
    .header .nav__menu {
      width: 100%;
      background-color: #f5efd9;
      padding: 2rem;
      list-style: none; }
      .header .nav__menu--item {
        width: 80%;
        padding: 1rem;
        margin: 0 auto;
        transition: all 0.2s;
        text-align: center; }
        .header .nav__menu--item:hover, .header .nav__menu--item:active {
          background-color: #cf6823;
          color: white;
          font-weight: bold;
          transform: translateX(-10%); }
  .header .open-nav {
    transform: translateX(0);
    box-shadow: -1px 7px 10px rgba(0, 0, 0, 0.2); }
    .header .open-nav .open-hamburger {
      background-color: #f5efd9; }
    .header .open-nav .open-hamburger::before {
      transform: rotate(45deg) translateY(9px); }
    .header .open-nav .open-hamburger::after {
      transform: rotate(-45deg) translateY(-9px); }

.slider {
  width: 100vw; }
  .slider div img {
    width: 100%;
    max-height: 350px;
    object-fit: cover; }
  .slider .slick-dots {
    width: 0;
    list-style: none;
    margin-left: 50%;
    transform: translate(-50%) rotate(-90deg); }
    .slider .slick-dots li button {
      border: 1px solid #cf6823;
      border-radius: 50%;
      padding: 0 0.1rem;
      font-size: 0.5em;
      color: #f5efd9;
      background-color: #f5efd9;
      transition: all 0.2s; }
    .slider .slick-dots .slick-active button {
      background-color: #cf6823;
      color: #cf6823; }

.highlights {
  display: grid;
  grid-auto-flow: row;
  margin-left: 50%;
  transform: translateX(-50%); }
  .highlights .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem; }
    .highlights .card__img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      margin-bottom: 1rem; }
    .highlights .card__name {
      font-family: "Playfair Display", serif; }
    .highlights .card__name, .highlights .card__price {
      font-size: 1.5em;
      line-height: 1.5em;
      color: #cf6823;
      font-weight: bold;
      text-align: center; }
    .highlights .card__extra {
      font-size: 1.2em;
      line-height: 1.5em; }
    .highlights .card__btn {
      margin-top: 0.5rem;
      width: 100%;
      padding: 0.5rem 1.2rem;
      border: 1px solid #cf6823;
      border-radius: 0.7rem;
      color: #cf6823;
      font-weight: bold;
      background-color: #fff;
      cursor: pointer;
      transition: all 0.2s; }
      .highlights .card__btn:hover, .highlights .card__btn:active {
        background-color: #cf6823;
        color: #fff; }

.promo-banner {
  width: 100vw;
  margin-bottom: 2rem; }
  .promo-banner img {
    width: 100%;
    height: 300px;
    object-fit: cover; }

.blog {
  width: 90vw;
  display: grid;
  grid-auto-flow: row;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 2rem; }
  .blog .post {
    width: 100%;
    margin-bottom: 2rem; }
    .blog .post:last-child {
      margin-bottom: 0; }
    .blog .post__link {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: inherit; }
      .blog .post__link--img {
        width: 100%;
        height: 200px;
        object-fit: cover; }
      .blog .post__link--tag {
        color: #cf6823;
        font-size: 1.4em;
        line-height: 1.5rem; }
      .blog .post__link--title {
        font-family: "Playfair Display", serif;
        font-size: 1.8em;
        font-weight: bold;
        text-align: center; }
    .blog .post:hover .post__link--title, .blog .post:active .post__link--title {
      text-decoration: underline; }

.instagram {
  padding: 1rem 0;
  background-color: #f6f6f6;
  border-top: 1px solid #cf6823;
  border-bottom: 1px solid #cf6823; }
  .instagram__title {
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Playfair Display", serif;
    color: #cf6823;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer; }

#instafeed {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px; }
  #instafeed article a figure img {
    width: 33.333vw;
    height: 33vw;
    object-fit: cover;
    transition: all 0.2s; }
    #instafeed article a figure img:hover, #instafeed article a figure img:active {
      opacity: 0.7; }

.subscribe {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #f5efd9;
  font-size: 1.4em;
  line-height: 1.5em; }
  .subscribe__message {
    margin-bottom: 1rem; }
  .subscribe__form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .subscribe__form--input, .subscribe__form--btn {
      padding: 0.2rem 0.4rem;
      border: 1px solid #cf6823; }
    .subscribe__form--input {
      width: 50%; }
    .subscribe__form--btn {
      color: #f6f6f6;
      background-color: #cf6823;
      font-weight: bold;
      cursor: pointer; }

footer {
  width: 100%;
  padding: 2rem;
  background-color: #272727;
  color: #f6f6f6;
  display: grid;
  grid-auto-flow: row; }
  footer .contactus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem; }
    footer .contactus__mail, footer .contactus__find {
      color: inherit;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.2em; }
      footer .contactus__mail .svg-icon, footer .contactus__find .svg-icon {
        margin-right: 0.2rem; }
  footer .sitemap {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 0.5rem;
    margin-left: 50%;
    margin-bottom: 1rem;
    transform: translateX(-50%); }
    footer .sitemap__list {
      list-style: none;
      margin-bottom: 1rem; }
      footer .sitemap__list li {
        font-size: 1.4em; }
        footer .sitemap__list li:first-of-type {
          font-weight: bold; }
        footer .sitemap__list li a {
          color: inherit;
          text-decoration: none; }
          footer .sitemap__list li a:hover, footer .sitemap__list li a:active {
            text-decoration: underline; }
  footer .followus {
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center; }
    footer .followus p {
      font-size: 1.4em;
      margin-bottom: 1rem; }
    footer .followus .svg-icon {
      font-size: 4em;
      cursor: pointer; }
      footer .followus .svg-icon:hover path,
      footer .followus .svg-icon:active path {
        transition: all 0.2s;
        fill: #f5efd9; }

.disclaimer {
  padding: 0.5rem 1rem; }
  .disclaimer a {
    color: inherit;
    font-size: 1.2em;
    transition: all 0.2s; }
    .disclaimer a:hover, .disclaimer a:active {
      color: #cf6823; }

.logo {
  text-align: center;
  font-size: 5em;
  color: #cf6823;
  font-family: "Playfair Display", serif;
  margin-top: 1rem; }

.svg-icon {
  font-size: 2em; }

.nav__menu--link {
  font-size: 1.6em;
  text-decoration: none;
  color: inherit; }

.svg-icon {
  width: 1em;
  height: 1em; }

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #cf6823; }

.svg-icon circle {
  stroke: #cf6823;
  stroke-width: 1; }

@media only screen and (min-width: 480px) {
  .header .alert__promo--link:link, .header .alert__promo--link:visited {
    color: #cf6823; }
  .header .alert__promo--link:hover, .header .alert__promo--link:active {
    background-color: #cf6823;
    color: #fff; }
  .header .alert__promo--link:first-of-type {
    margin-right: 0.5rem; }
  .footer .contactus {
    margin-bottom: 2rem; }
  .footer .sitemap {
    width: 80%;
    grid-auto-flow: column;
    grid-gap: 0.5rem; } }

@media only screen and (min-width: 768px) {
  .header .alert__promo {
    padding-left: 7rem;
    padding-right: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .header .alert__promo p {
      margin-bottom: 0; }
    .header .alert__promo--link {
      font-size: 1.2em; }
      .header .alert__promo--link:first-of-type {
        margin-right: 0; }
  .header .header-boxes__search--input {
    width: 10rem; }
    .header .header-boxes__search--input:focus {
      width: 13rem; }
  .header .nav {
    width: 50vw;
    top: 10vh; }
    .header .nav__toggle {
      right: 50vw; }
  .highlights {
    width: 70vw;
    grid-auto-flow: column;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50%;
    transform: translateX(-50%); }
  .blog {
    grid-auto-flow: column;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr); }
  #instafeed {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1px; }
    #instafeed article a figure img {
      width: 16.5vw;
      height: 16.5vw; }
  .subscribe {
    flex-direction: row; }
    .subscribe__message {
      width: 50%;
      margin-bottom: 0; }
    .subscribe__form {
      width: 50%; }
      .subscribe__form--input {
        width: 50%; }
      .subscribe__form--btn {
        transition: all 0.2s; }
      .subscribe__form--btn:hover {
        opacity: 0.8; } }

@media only screen and (min-width: 980px) {
  .header .alert__promo {
    font-size: 1em;
    padding-left: 15rem;
    padding-right: 15rem; }
  .header .logo {
    font-size: 7em;
    margin: 1.5rem 0; }
  .header .header-boxes {
    width: 100vw;
    position: absolute;
    justify-content: space-between;
    top: 110px;
    padding: 0 5rem; }
    .header .header-boxes__search {
      justify-content: left; }
      .header .header-boxes__search--input {
        width: 10rem; }
        .header .header-boxes__search--input:focus {
          width: 15rem; }
    .header .header-boxes__login {
      justify-content: right; }
  .header .nav {
    position: relative;
    top: 0;
    width: 100vw;
    transform: translateX(0);
    border-bottom: 1px solid #cf6823; }
    .header .nav__toggle {
      display: none; }
    .header .nav__menu {
      display: flex;
      justify-content: space-around; }
      .header .nav__menu--item {
        width: auto;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #f5efd9; }
        .header .nav__menu--item:hover, .header .nav__menu--item:active {
          background-color: #f5efd9;
          border-bottom: 1px solid #cf6823;
          color: #cf6823;
          font-weight: normal;
          transform: translateX(0); }
        .header .nav__menu--item .nav__menu--link {
          font-size: 1.4em; }
  .highlights {
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0; }
    .highlights .card {
      position: relative;
      cursor: pointer;
      transition: all 0.2s; }
      .highlights .card__btn {
        opacity: 0;
        position: absolute;
        width: 70%;
        top: 40%;
        transform: translateY(-50%);
        transition: all 0.2s; }
      .highlights .card:hover {
        opacity: 0.5; }
        .highlights .card:hover .card__btn {
          opacity: 1; }
  .footer {
    grid-auto-flow: column;
    align-items: auto;
    grid-template-columns: 1fr 3fr 1fr; }
    .footer .contactus {
      flex-direction: column;
      margin-bottom: 0; }
      .footer .contactus__mail {
        margin-bottom: 0.5rem; } }

@media only screen and (min-width: 1200px) {
  .header .alert__promo {
    padding-left: 20rem;
    padding-right: 20rem; }
  .header .header-boxes {
    padding: 0 10rem; }
  .header .logo {
    margin: 2rem auto; }
  .header .nav {
    background-color: #f5efd9; }
    .header .nav__menu {
      width: 80%;
      margin-left: 50%;
      transform: translateX(-50%);
      justify-content: space-between; }
  .promo-banner img {
    height: 450px; }
  .blog {
    width: 60%; }
  .subscribe {
    padding: 2rem 10rem; }
    .subscribe__form {
      justify-content: space-evenly; }
  .footer {
    padding: 5rem 10rem; } }
