@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Playfair+Display:400,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "PT Sans", sans-serif;
  color: #272727;
  font-size: 62.5%; }

.header {
  display: flex;
  flex-direction: column; }
  .header .alert__promo {
    background: #f5efd9;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.2em;
    text-align: center; }
    .header .alert__promo p {
      font-weight: bold;
      font-size: 1.4em;
      margin-bottom: 0.5rem; }
    .header .alert__promo--link {
      color: inherit;
      transition: all 0.5s;
      padding: 0.7em;
      border-radius: 7px; }
      .header .alert__promo--link:link, .header .alert__promo--link:visited {
        color: #cf6823; }
      .header .alert__promo--link:hover, .header .alert__promo--link:active {
        background-color: #cf6823;
        color: #fff; }
      .header .alert__promo--link:first-of-type {
        margin-right: 0.5rem; }
  .header .header-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.5rem; }
    .header .header-boxes__search {
      width: 50vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .header .header-boxes__search--input {
        width: 7rem;
        padding: 0.7rem;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #cf6823;
        transition: all 0.5s; }
        .header .header-boxes__search--input:focus {
          width: 10rem; }
    .header .header-boxes__login {
      width: 50vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .header .header-boxes__login p {
        font-size: 1.4em;
        margin-right: 0.7rem;
        transition: all 0.2s; }
        .header .header-boxes__login p:hover, .header .header-boxes__login p:active {
          color: #cf6823; }
  .header .nav {
    position: absolute;
    top: 13vh;
    width: 70vw;
    height: 100vh;
    z-index: 99;
    transform: translateX(-103%);
    transition: all 0.4s ease-in; }
    .header .nav__toggle {
      position: absolute;
      background-color: #f5efd9;
      padding: 1.3rem 1rem;
      top: 0;
      left: 70vw;
      border: 0;
      border-radius: 0 0.5rem 0.5rem 0;
      cursor: pointer;
      box-shadow: 5px 3px 7px rgba(0, 0, 0, 0.1); }
      .header .nav__toggle .hamburger {
        display: block;
        position: relative; }
      .header .nav__toggle .hamburger,
      .header .nav__toggle .hamburger::before,
      .header .nav__toggle .hamburger::after {
        width: 1.5rem;
        height: 2px;
        background-color: #cf6823;
        transition: all 0.2s linear; }
      .header .nav__toggle .hamburger::before,
      .header .nav__toggle .hamburger::after {
        content: "";
        position: absolute;
        right: 0; }
      .header .nav__toggle .hamburger::before {
        bottom: 6px; }
      .header .nav__toggle .hamburger::after {
        top: 6px; }
    .header .nav__menu {
      width: 100%;
      background-color: #f5efd9;
      padding: 2rem;
      list-style: none;
      box-shadow: 1px 7px 10px rgba(0, 0, 0, 0.2); }
      .header .nav__menu--item {
        width: 80%;
        padding: 1rem;
        transition: all 0.2s; }
        .header .nav__menu--item:hover, .header .nav__menu--item:active {
          background-color: #cf6823;
          color: white;
          font-weight: bold;
          transform: translateX(10%); }
  .header .open-nav {
    transform: translateX(0); }
    .header .open-nav .open-hamburger {
      background-color: #f5efd9; }
    .header .open-nav .open-hamburger::before {
      transform: rotate(45deg) translateY(9px); }
    .header .open-nav .open-hamburger::after {
      transform: rotate(-45deg) translateY(-9px); }

.highlights {
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .highlights .card {
    width: 60%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .highlights .card__img {
      width: 100%;
      height: 150px; }
    .highlights .card__name {
      font-family: "Playfair Display", serif; }
    .highlights .card__name, .highlights .card__price {
      font-size: 1.5em;
      line-height: 1.5em;
      color: #cf6823;
      font-weight: bold;
      text-align: center; }
    .highlights .card__extra {
      font-size: 1.2em;
      line-height: 1.5em; }
    .highlights .card__btn {
      margin-top: 0.5rem;
      width: 100%;
      padding: 0.5rem 1.2rem;
      border: 1px solid #cf6823;
      border-radius: 0.7rem;
      color: #cf6823;
      font-weight: bold;
      background-color: #fff;
      cursor: pointer;
      transition: all 0.2s; }
      .highlights .card__btn:hover, .highlights .card__btn:active {
        background-color: #cf6823;
        color: #fff; }

.promo-banner {
  width: 100vw;
  margin-bottom: 2rem; }

.blog {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 2rem; }
  .blog .post {
    width: 100%;
    margin-bottom: 2rem; }
    .blog .post:last-child {
      margin-bottom: 0; }
    .blog .post__link {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: inherit; }
      .blog .post__link--img {
        width: 100%; }
      .blog .post__link--tag {
        color: #cf6823;
        font-size: 1.4em;
        line-height: 1.5rem; }
      .blog .post__link--title {
        font-family: "Playfair Display", serif;
        font-size: 1.8em;
        font-weight: bold;
        text-align: center; }

.logo {
  text-align: center;
  font-size: 5em;
  color: #cf6823;
  font-family: "Playfair Display", serif;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.svg-icon {
  font-size: 2em; }

.nav__menu--link {
  font-size: 1.6em;
  text-decoration: none;
  color: inherit; }

.svg-icon {
  width: 1em;
  height: 1em; }

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #cf6823; }

.svg-icon circle {
  stroke: #cf6823;
  stroke-width: 1; }
